{% load static %}   
   <div class="site-footer">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="widget">
              <h3>Home</h3>
              <ul class="list-unstyled float-left links">
        
                <li><a href="#">About </a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact </a></li>
             
              </ul>
            </div> <!-- /.widget -->
          </div> <!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <div class="widget">
              <h3>Services</h3>
              <ul class="list-unstyled float-left links">
                <li><a href="#">Backend Development (Django)</a></li>
                <li><a href="#">API Development & Integration</a></li>
                <li><a href="#">Web Application Development</a></li>
                <li><a href="#">WordPress Development & Maintenance</a></li>
             
              </ul>
            </div> <!-- /.widget -->
          </div> <!-- /.col-lg-4 -->


          <div class="col-lg-4">
            <div class="widget">
              <h3>Contact</h3>
              <address>Festac Town, Lagos</address>
              <ul class="list-unstyled links mb-4">
                <li><a href="tel://+2347048706774"><i class="fas fa-phone"></i> +2347048706774</a></li>
                <li><a href="https://wa.me/2347048706774" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i> +2347048706774</a></li>
                <li><a href="mailto:xcheche31@gmail.com"><i class="fas fa-envelope"></i> xcheche31@gmail.com</a></li>
              </ul>

              <h3>Connect</h3>
              <ul class="list-unstyled social text-center">
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              </ul>

            </div> <!-- /.widget -->
          </div> <!-- /.col-lg-4 -->

        </div> <!-- /.row -->





        <div class="row mt-5">
          <div class="col-12 text-center">
            <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  

              **==========
            -->
            <div class="newsletter-wrap mb-4">
              <h3 class="mb-2">Newsletter</h3>
              <p class="mb-3">Get occasional updates on new projects and articles.</p>
              <form class="newsletter-form" action="#" method="get">
                <div class="input-group">
                  <input
                    type="email"
                    id="newsletter"
                    class="form-control"
                    placeholder="Enter your email"
                    aria-label="Email address"
                  >
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
            <p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a>  Distributed By <a href="https://themewagon.com">ThemeWagon</a> <!-- License information: https://untree.co/license/ -->
            </p>
            
          </div>
        </div>
      </div> <!-- /.container -->
    
    </div> <!-- /.site-footer -->



    

